.wrapper {
   padding: 24px;
   margin: 12px;
   border: 1px solid black;
   border-radius: 4px;
}

.concept {
    margin: 0;
    padding: 0;
    font-size: var(--big-font);
}

.payers_list,
.debts_list {
    padding: 0;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

strong {
    font-weight: bold;
}