.wrapper {
    position: relative;
}

.label {
    display: flex;
    gap: 12px;
}

.search_bar_wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.search_bar {
    width: auto;
    border: none;
    outline: none;
}

.items_list {
    padding: 0;
    margin: 8px 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    list-style: none;
}

.options_list {
    position: absolute;
    top: 32px;
    right: 0;
    padding: 12px;
    width: 50%;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    list-style: none;
    transition: 500ms ease;
}

.option {
    padding: 8px;
    border-radius: 4px;
    transition: 500ms ease;
}   

.search_bar.selected {
    color: var(--accent-color-100);   
    border-radius: 4px;
}
.option.selected_option {
    background: var(--accent-color-150);   
}

.item {
    padding: 2px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background: var(--accent-color-150);   
    border-radius: 4px;
}

.menu_icon,
.remove_button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}